<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBole2o9YlBSXDd5F16MbpSOwjuuo_0TJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>126829732932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.utibuHealthApp</string>
	<key>PROJECT_ID</key>
	<string>utibu-health-app-9d583</string>
	<key>STORAGE_BUCKET</key>
	<string>utibu-health-app-9d583.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126829732932:ios:ae478410cf0bc8118b8811</string>
</dict>
</plist>